article {
  margin: 0;
}

a:is([aria-current], :hover, :active, :focus) {
  text-decoration: none;
  cursor: pointer;
}

hgroup {
    margin: 0;
}

.sort-container {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}

#search {
    align-self: end;
}

.navigation-control {
  display: flex;
  justify-content: center;
}

.navigation-control a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-control p {
  margin: 0;
}

.middle-space-nav {
  width: 50px;
}

.disabled-link,
.disabled-link p {
  pointer-events: none;
  color: #757575;
}
